* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.pagination-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  background-color: #e2e2e2;
  text-decoration: none;
}

.pagination-item:hover {
  color: #fff;
  background-color: #777;
}

.pagination-item-active,
.pagination-item-active:hover {
  color: #fff;
  background-color: #075bf8;
}
